<section class="TopHeader">
  <div class="">
      <div class="DisplayFlex">
          <div>
              <ul class="ElementorIconUl ">
                  <li>
                      <a href="#">
                          <i class='bx bxs-envelope'></i>
                          <span class="elementorText">engitech@mail.com</span>
                      </a>
                  </li>
                  <li>
                      <a href="#">
                          <i class='bx bxs-time-five'></i>
                          <span class="elementorText">Mon - Sat: 8.00 am - 7.00 pm</span>
                      </a>
                  </li>
              </ul>
          </div>
          <div>
              <p class="elementorPara">
                  We are creative, ambitious and ready for challenges!
                  <a href="#">Hire Us</a>
              </p>
              <ul class="SocailUl">
                  <li>
                      <a href="#"><i class='bx bxl-twitter'></i></a>
                  </li>
                  <li>
                      <a href="#"><i class='bx bxl-facebook' ></i></a>
                  </li>
                  <li>
                      <a href="#"><i class='bx bxl-linkedin'></i></a>
                  </li>
                  <li>
                      <a href="#"><i class='bx bxl-instagram'></i></a>
                  </li>
              </ul>
          </div>
      </div>
  </div>
</section>
<header class="header">
  <nav class="navbar  fixed-top navbar-expand-lg navbar-light bg-light" id="NavBar" #NavBar>
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="./assets/images/logo.svg" alt="fff"/>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link" routerLink="/home">
                Home
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link " aria-current="page"  routerLink="/pricing">Pricing</a>
            </li>
            <!-- <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Company
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Services
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Projects
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Blog
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Contacts</a>
            </li>

            <li class="nav-item dropdown SearchDDl">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class='bx bx-search SearchIcon' ></i>
                <i class='bx bx-x XIcon'></i>
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                  <div>
                    <div class="input-group  mb-2 mt-2">
                      <input type="text" class="form-control" placeholder="Search..." aria-label="Recipient's Search" aria-describedby="button-Search">
                      <button class="btn btn-outline-secondary" type="button" id="button-Search"><i class='bx bx-search' ></i></button>
                    </div>
                  </div>
                </li>
              </ul>
            </li> -->
          </ul>

          <form class="d-flex">
                    
            <div class="HeaderInfo">
              <i class='bx bxs-phone'></i>
              <div>
                <p>Have Any Questions?</p>
                <span>+1-800-456-478-23</span>
              </div>
            </div>
            <button class="btn LightBlueBtn me-2" routerLink="/sessions/signin" *ngIf="!isLoggedin"> Login </button>
            <button class="btn LightBlueBtn LightBlueBorderBtn" routerLink="/sessions/signup" *ngIf="!isLoggedin"> Sign Up </button>
            <button class="btn LightBlueBtn LightBlueBorderBtn" *ngIf="isLoggedin" (click)="Signout()"> Sign out </button>
          </form>
        </div>
      </div>
    </nav>
</header>
