<div class="PageContent">
    <div class=" ">
        <section class="">
            <div class="GrayBg ">
                <div class="container">
                    <div class="FlexDiv">
                        <div class="CardBody text-center" style="width: 60%">
                            <div class="mb-4 mt-4">
                                <img src="./assets/images/icons/fail.png" alt="check" class="checkImg">
                            </div>
                            <h4 class="mb-2 Failed"> Opps! </h4>
                            <p class="ModalPara paragh2   ">We're sorry something went wrong with your payment, <br />
                                Please try again.</p>
                            <button type="button" class="btn BlueBtn WidthBtn mb-4" routerLink="/home"> Home </button>
                        </div>
                    </div>
                </div>

            </div>

        </section>
    </div>
</div>