<footer class="text-center">
  <a class="TopPageBtn" href="#GotoTop" id="TopPageBtn"><i class='bx bx-arrow-back'></i></a>
  <img src="./assets/images/logo-light.png"/>
    <div class="contactInfoDiv">
      <div>
        <i class='bx bx-globe'></i>
        <h2>411 University St, Seattle, USA</h2>
        <p>Our Address</p>
      </div>
      <div>
        <i class='bx bxs-envelope'></i>
        <h2>contact@oceanthemes.net</h2>
        <p>Our Mailbox</p>
      </div>
      <div>
        <i class='bx bxs-phone-call'></i>
        <h2>+1 -800-456-478-23</h2>
        <p>Our Phone</p>
      </div>
    </div>
    <div class="LinksDiv">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Portfolio</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Contacts</a></li>
        </ul>
        <p>Copyright © 2021 Engitech by OceanThemes. All Rights Reserved.</p>
    </div>

    <ul class="SocailUl ColorSocailUl">
      <li>
          <a href="#" ><i class='bx bxl-twitter twitterIcon'></i></a>
      </li>
      <li>
          <a href="#"><i class='bx bxl-facebook facebookIcon' ></i></a>
      </li>
      <li>
          <a href="#"><i class='bx bxl-linkedin linkedinIcon'></i></a>
      </li>
      <li>
          <a href="#"><i class='bx bxl-instagram instagramIcon'></i></a>
      </li>
  </ul>
</footer>
