<!-- <mat-progress-bar mode="indeterminate" class="session-progress" *ngIf="isLoading"></mat-progress-bar> -->
<div class="PageContent">
    <div class="MrTop88">
        <section class="">
            <div class="GrayBg pt50 pb-5">
                <div class="container">
                    <div class="row   align-items-center">
                        <div class="col-md">
                            <div class="elementorHead">
                                <span class="mainSpan">Package payment</span>
                                <h2 class="mainHeading">Enter your card details</h2>
                            </div>
                        </div>
                        <!-- <form novalidate (ngSubmit)="createPaymentToken()" [formGroup]="stripeForm">
                            <input type="text" formControlName="name" placeholder="Name on card"
                                class="form-control InputStyle width34 mb-3 mt-3">
                            <ngx-stripe-card [options]="cardOptions"
                                [elementsOptions]="elementsOptions"></ngx-stripe-card>
                            <button type="submit" class="btn LightBlueBtn LightBlueBorderBtn mt-3">Pay</button>
                        </form> -->
                    </div>
                </div>

            </div>

        </section>
    </div>

</div>