<mat-progress-bar mode="indeterminate" class="session-progress" *ngIf="isLoading"></mat-progress-bar>

<div class="PageContent">
    <div class="MrTop88">
        <section class="">
            <div class="GrayBg pt50 pb-5">
                <div class="container">
                    <div class="row   align-items-center">
                        <div class="col-md">
                            <div class="elementorHead">
                                <span class="mainSpan">// CHOOSE YOUR PLAN</span>
                                <h2 class="mainHeading">Flexible Pricing Plans</h2>
                            </div>
                        </div>

                        <!-- Language selection -->
                        <!-- <div class="col-md-3">
                            <select class="form-control select2" [(ngModel)]="selectedLanguageID"
                                (change)="onLanguageChange()">
                                <option>Select Language</option>
                                <option *ngFor="let language of languages" [value]="language.id">
                                    {{language.name}}</option>
                            </select>
                        </div> -->

                        <!-- Currency selection -->
                        <div class="col-md-2">
                            <select class="form-control select2" [ngModel]="selectedCurrencyID"
                                (change)="onCurrencyChange($event)">
                                <option [value]="null">Select Currency</option>
                                <option *ngFor="let currency of currencies" [value]="currency.id">{{currency.symbol}} -
                                    {{currency.threeDigitCode}}</option>
                            </select>
                        </div>
                    </div>
                    <div class=" pt30 ">
                        <div class="row" *ngIf="packages?.length > 0 && !isLoading">
                            <div class="col-md" *ngFor="let package of packages">
                                <div class="otPricingTable">
                                    <div class="icon-main">
                                        <i class='bx bx-cube'></i>

                                    </div>
                                    <div class="inner-table">
                                        <h4 class="title-table">{{package.packageTitle}}</h4>
                                        <h2><sup>{{selectedCurrency?.symbol}}</sup> {{package.cost}}</h2>
                                        <!-- <span>{{package.packageTitle}}</span> -->
                                        <div class="details ">
                                            <ul>
                                                <li class="active">{{package.packageBrief}}</li>
                                                <!-- <li class="active">24/7 System Monitoring</li>
                                                    <li class="active">Machine and Deep Learning</li>
                                                    <li>Data Quality Management</li>
                                                    <li>Security Management</li> -->
                                            </ul>
                                        </div>
                                        <a (click)="choosePlan(package)" class="octf-Btn">Choose Plan</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row" *ngIf="packages?.length == 0 && isLoading">
                            Select currency to view available plans
                        </div>
                    </div>
                </div>

            </div>

        </section>
    </div>

</div>