<div class="PageContent">
    <div class="MrTop88">
        <section class="">
            <div class="GrayBg pt50 pb-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md">
                            <div class="otPricingTable">
                                <div class="icon-main">
                                    <i class='bx bx-cube'></i>
                                </div>
                                <div class="inner-table">
                                    <h4 class="title-table">Pro</h4>
                                    <h2><sup>$</sup> 129.99</h2>
                                    <span>Monthly Package</span>
                                    <div class="details ">
                                        <ul>
                                            <li class="active">Web Counsulting</li>
                                            <li class="active">24/7 System Monitoring</li>
                                            <li class="active">Machine and Deep Learning</li>
                                            <li>Data Quality Management</li>
                                            <li>Security Management</li>
                                        </ul>
                                    </div>
                                    <a href="#" class="octf-Btn">Choose Plan</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="otPricingTable">
                                <div class="icon-main">
                                    <i class='bx bx-gift'></i>
                                </div>
                                <div class="inner-table">
                                    <h4 class="title-table">Business</h4>
                                    <h2><sup>$</sup> 159.99</h2>
                                    <span>Monthly Package</span>
                                    <div class="details ">
                                        <ul>
                                            <li class="active">Web Counsulting</li>
                                            <li class="active">24/7 System Monitoring</li>
                                            <li class="active">Machine and Deep Learning</li>
                                            <li class="active">Data Quality Management</li>
                                            <li>Security Management</li>
                                        </ul>
                                    </div>
                                    <a href="#" class="octf-Btn">Choose Plan</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="otPricingTable">
                                <div class="icon-main">
                                    <i class='bx bx-crown'></i>
                                </div>
                                <div class="inner-table">
                                    <h4 class="title-table">Enterprise</h4>
                                    <h2><sup>$</sup> 189.99</h2>
                                    <span>Monthly Package</span>
                                    <div class="details ">
                                        <ul>
                                            <li class="active">Web Counsulting</li>
                                            <li class="active">24/7 System Monitoring</li>
                                            <li class="active">Machine and Deep Learning</li>
                                            <li class="active">Data Quality Management</li>
                                            <li class="active">Security Management</li>
                                        </ul>
                                    </div>
                                    <a href="#" class="octf-Btn">Choose Plan</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </section>
    </div>

</div>