body{ 
  font-family: 'Nunito Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  line-height: 1.2;
  margin: 0 0 20px;
  color: #1b1d21;
}
.BlueBG{
  background-color: #0E0A31;
  background-image: url(../../images/banners/BgBanner.png);
  background-position: bottom center;
  background-repeat: no-repeat;
  min-height: 100vh;
  overflow: hidden;
}
.BlueBG2 {
background-color: #211F3B;
background-image: url(../../images/banners/BgBanner2.png); 
background-repeat: no-repeat;
min-height: 120vh;
overflow: hidden;
position: relative;
}

.BannerImgBg{
position: absolute;
bottom: 0;
right: 0;
}
.MainForm {
  padding: 60px 48px;
  background-image: linear-gradient(90deg, #00deff 0%, #7141b1 100%);
  color: #fff;
  margin: 0 auto;
}
.FormSmWidth{
  width: 35%; 
}
.MainForm h2 {
  color: #fff;
  margin-bottom: 10px;
  font-size: 36px;
}
.MainForm .font14 {
  margin-bottom: 30px;
} 
.FormInput, textarea.FormInput {
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
  color: #fff;
  border: none; 
  padding: 10px 20px;
  box-sizing: border-box;
  outline: none;
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  line-height: 1.875;
  font-weight: 400;
}
.octfBtn {
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  font-size: 14px;
  padding: 14px 30px 14px 30px;
  line-height: 1.42857143;
  display: inline-block;
  margin-bottom: 0;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  vertical-align: middle;
  font-weight: 800;
  text-align: center;
  background: #43baff;
  cursor: pointer;
  border: 1px solid transparent;
  color: #fff;
  outline: none;
} 
.octfBtn.octfBtnLight {
  background: #fff;
  color: #1b1d21;
} 
.octfBtn.octfBtnLight:hover {
  color: #fff;
  background: #7141b1;
}
.flex-Div{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}
.LoginPosition{
  position: absolute;
  top: 50px;
  left: 55px;
}
::-webkit-input-placeholder { /* Edge */
  color: #fffffff6;
}

:-ms-input-placeholder { /* Internet Explorer */
  color:  #fffffff6;
}

::placeholder {
  color:  #fffffff6;
}
.w-100{
  width: 100%;
}
/* Customize the label (the container) */
.CBXcontainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.CBXcontainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.CBXcontainer .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  background-color: #8e8ed2;
  background: rgba(255, 255, 255, 0.3);
}

/* On mouse-over, add a grey background color */
.CBXcontainer:hover input ~ .checkmark {
  background: rgba(255, 255, 255, 0.5);
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.CBXcontainer .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.CBXcontainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.CBXcontainer .checkmark:after {
  left: 8px;
  top: 4px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.WhiteLink{
  font-size: 1rem; 
  color: #fff;
  text-decoration: none;
}
.WhiteLink:hover {
font-size: 1rem; 
color: #43baff;
text-decoration: none;
}
.TopHeader{
background-color: #141D38;
padding: 3px 50px 3px 50px;
font-family: "Nunito Sans", Sans-serif;
font-size: 14px;
font-weight: 600;
line-height: 41px;
}
.ElementorIconUl{
list-style: none;
margin-bottom: 0px;
padding-left: 0px;

}
.ElementorIconUl li{
display: inline-block;
margin-right: 35px;
}
.ElementorIconUl li a{
color: #fff;
text-decoration: none;
}
.ElementorIconUl li a span{
color: #B5B5B5;
  transition: color 0.3s;
}
.ElementorIconUl li a:hover span{
color: #fff;
  transition: color 0.3s;
}
.ElementorIconUl li a i{
font-size: 0.9rem;
margin-right: 5px;
position: relative;
top: 3px;
}
.DisplayFlex{
display: flex;
align-items: center;
justify-content: space-between;
}
.elementorPara {
color: #B5B5B5;
font-size: 14px;
font-weight: 400;
margin-bottom: 0px;
display: inline-block;
margin-right: 35px;
}
.elementorPara a{
color: #43baff;
margin-left: 5px;
text-decoration: none;
}
.SocailUl{
list-style: none;
margin-bottom: 0px;
padding-left: 0px;
display: inline-block;
}
.SocailUl li{
display: inline-block;
margin-right: 20px;
}
.SocailUl li a{
color: #B5B5B5;
text-decoration: none;
transition: color 0.3s;
font-size: 0.9rem;
}
.SocailUl li a:hover  {
color: #fff;
opacity: 0.9;
transition: color 0.3s;
}
.header .navbar-brand{
width: 145px;
}
.header .nav-item{
margin: 0px 15px;

}
.header .navbar-light .navbar-nav .nav-link {
color: #1a1b1e;
padding: 0px;
font-weight: bold;
font-size: 0.95rem;
transition: color 0.3s  ;
position: relative;
}
.header .dropdown-toggle::after {
color: #c3c7c9; 
border-top: 0.32em solid; 
}
.header .navbar-light .navbar-nav .nav-link:hover {
color: #43baff;
transition: color 0.3s  ;
}

.header .navbar-light .navbar-nav .dropdown-toggle.nav-link:hover::after {
color: #43baff;  
} 
.header .navbar-light .navbar-nav .nav-link:before {
position: absolute;
height: 3px;
width: 0;
bottom: -33px;
right: 0;
background: #43baff;
content: "";
display: block;
transition: all 0.3s linear;
-webkit-transition: all 0.3s linear;
-moz-transition: all 0.3s linear;
-o-transition: all 0.3s linear;
-ms-transition: all 0.3s linear;
}
.header .navbar-light .navbar-nav .nav-link:hover:before {
left: 0;
right: auto;
width: 100%;
}
.header .navbar { 
padding-top: 0px;
padding-bottom: 0px;
height: 88px;
box-shadow : 0px 0px 38px 0px rgba(0, 0, 0, 0.1)
}
.header .bg-light {
background-color: #fff!important;
}
.header .navbar-expand-lg .navbar-nav .dropdown-menu {
position: absolute;
min-width: 280px;
white-space: nowrap;
padding: 10px 25px;
position: absolute;
top: 53px;
left: -40px;
z-index: 10;
background-color: #fff;
background-color: #fff;
box-shadow: 15px 15px 38px 0px rgba(0, 0, 0, 0.1);
-webkit-box-shadow: 15px 15px 38px 0px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 15px 15px 38px 0px rgba(0, 0, 0, 0.1);
border-radius: 0px;
border: 0px;
}
.header .dropdown-item.active,.header  .dropdown-item:active { 
background-color: transparent;
}
.header .navbar-expand-lg .navbar-nav .dropdown-menu .dropdown-item {
background-color: transparent;
font-size: 14px;
line-height: 30px;
font-weight: bold;
color: #1a1b1e;
text-align: left;
display: block;
padding: 5px 0px 5px 0px;
position: relative;
text-decoration: none;
outline: none;
text-transform: uppercase;
transition: all 0.3s linear;
-webkit-transition: all 0.3s linear;
-moz-transition: all 0.3s linear;
-o-transition: all 0.3s linear;
-ms-transition: all 0.3s linear;
}
.header .navbar-expand-lg .navbar-nav .dropdown-menu .dropdown-item:before {
position: absolute;
content: "//";
top: 50%;
left: 0;
color: #43baff;
-webkit-transform: translateY(-50%);
-moz-transform: translateY(-50%);
transform: translateY(-50%);
transition: all 0.3s linear;
-webkit-transition: all 0.3s linear;
-moz-transition: all 0.3s linear;
-o-transition: all 0.3s linear;
-ms-transition: all 0.3s linear;
visibility: hidden;
opacity: 0;
}
.header .navbar-expand-lg .navbar-nav .dropdown-menu .dropdown-item:hover {
color: #43baff;
padding-left: 12px;
}
.header .navbar-expand-lg .navbar-nav .dropdown-menu .dropdown-item:hover:before {
left: 0px;
visibility: visible;
opacity: 1;
}
.header .navbar-expand-lg .navbar-nav { 
align-items: center;
}
.SearchDDl .form-control{ 
  height: 46px;
  line-height: 1;
  border-color: #e6e6e6;
  background: #f6f6f6;
  color: #b5b5b5;
  border: none;
}
.SearchDDl .input-group .btn{
width: 46px; 
text-align: center; 
color: #fff;
background: #43baff;
border-color: #43baff;
}
.SearchDDl .input-group .btn i{
font-size: 1.2rem;
position: relative;
top: 3px;
}
.SearchDDl .input-group .btn:hover {
background: #7141b1;
border-color: #7141b1;
}
.nav-item.SearchDDl{
/* margin-left: 57px; */
}
.navbar-light .navbar-nav .SearchDDl .nav-link:before{
display: none;
}
.SearchDDl .dropdown-toggle::after{
display: none;
}
.navbar-light .navbar-nav .SearchDDl .nav-link{
font-size: 1.45rem;
margin-top: 7px;
}
.navbar-light .navbar-nav .SearchDDl .nav-link .XIcon{
font-size: 1.6rem; 
}
.navbar-light .navbar-nav .SearchDDl .nav-link:hover {
color: #1a1b1e; 
}
.SearchDDl .dropdown-toggle .XIcon{
display: none;
}
.SearchDDl .dropdown-toggle.show .XIcon{
display: inline-block;
}
.SearchDDl .dropdown-toggle.show .SearchIcon{
display: none;
}
.navbar-expand-lg .navbar-nav .SearchDDl  .dropdown-menu { 
top: 63px; 
}
.HeaderInfo{
display: flex;
align-items: center;
margin-right: 30px;
position: relative;
}
.HeaderInfo::after{
display: block;
content: "";
position: absolute;
left: -30px;
top: -8px;
height: 64px;
width: 1px;
background-color: #141D383B;
}
.HeaderInfo i{
color: #43BAFF;
font-size: 1.8rem;
margin-right: 10px;
}
.HeaderInfo p{
margin-bottom: 0px;
color: #6D6D6D;

}
.HeaderInfo span{
color: #1B1D21;
  font-family: "Montserrat", Sans-serif;
  font-size: 16px;
  font-weight: 600;
}
.LightBlueBtn{
font-weight: bold;
  text-align: center;
  background-color: #43baff;
  cursor: pointer;
  border: 1px solid transparent;
  text-transform: uppercase;
  font-size: 14px;
  padding: 10px 20px 10px 20px;
  color: #fff !important;
  border-radius: 0px;
  transition:background-color 0.3s ;
}
.LightBlueBtn:hover{
background-color:#7141b1;
transition:background-color 0.3s ;
}
.LightBlueBorderBtn{
background-color: transparent; 
border: 1px solid #43baff;
color: #43baff !important;
transition:all 0.3s ;
}
.LightBlueBorderBtn:hover{
background-color: transparent; 
border: 1px solid #7141b1;
color: #7141b1 !important;
transition:all 0.3s ;
}
.btn-check:focus+.btn-outline-secondary, .btn-outline-secondary:focus {
box-shadow: unset;
}
footer{
min-height: 79vh;
background-color: #211E3B;
padding: 45px 0px;
position: relative;
z-index: 99;
}
.contactInfoDiv{
display: flex;
color: #fff;
justify-content: space-between;
margin: 55px 17%;
}
.contactInfoDiv i{
font-size: 30px;
margin-bottom: 25px;
color: #43BAFF;
}
.contactInfoDiv h2{
font-size: 18px;
margin-bottom: 15px;
color: #fff;
font-family: "Nunito Sans", sans-serif;
font-weight: 400;
}
.contactInfoDiv p{
font-size: 16px;
color: #AEAACB;
margin-bottom: 0px;
}
.LinksDiv ul{
list-style: none;
margin-bottom: 0px;
padding-left: 0px;
}
.LinksDiv li{
display: inline-block;
  margin: 0px 20px;
}

.LinksDiv ul a{
color: #fff;
text-decoration: none;
font-size: 16px;
font-weight: 500;
transition: color 0.3s;
}
.LinksDiv ul a:hover{
color: #43baff; 
transition: color 0.3s;
}
.LinksDiv  p{
color: #AEAACB;
font-family: "Nunito Sans", sans-serif;
font-weight: 400;
font-size: 16px;
margin-bottom: 5px;
margin-top: 20px;
}
.SocailUl.ColorSocailUl li {
display: inline-block;
margin-right: 3px;
margin-left: 3px;
}
.ColorSocailUl a{ 
  width: 23px;
  height: 23px;
  background-color: #FFFFFF;
  border-radius: 50% 50% 50% 50%; 
  display: inline-flex; 
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  transition-duration: .3s;
  transition-property: transform;
  transition-timing-function: ease-out;
  transition: all .3s;
  margin-top: 30px;
}
.ColorSocailUl li:hover a{
transform: translateY(-8px);
opacity: .9;
color: #fff;
transition: all .3s;
}
.twitterIcon{
color: #4CCEF9;
}
.facebookIcon{
color: #2255EE;
}
.linkedinIcon{
color: #3292FF;
}
.instagramIcon{
color: #FF9000;
} 
.form-control:focus{
box-shadow: unset;
}
.TopPageBtn{
display: inline-block;
width: 42px;
height: 45px;
border-radius: 2px;
background-color: #fff;
color: #43baff;
text-align: center;
line-height: 53px;
font-size: 23px;
position: fixed;
bottom: 40px;
right: 40px;
z-index: 10000;
opacity: 0;
visibility: hidden;
transition: background-color .3s, 
opacity .3s, visibility .3s;
transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  box-shadow: 6px 6px 13px 0px rgba(42, 67, 113, 0.2);
  -webkit-box-shadow: 6px 6px 13px 0px rgba(42, 67, 113, 0.2);
  -moz-box-shadow: 6px 6px 13px 0px rgba(42, 67, 113, 0.2);
}
.TopPageBtn:hover{ 
bottom: 45px;
color: #43baff;
}
.TopPageBtn i{
transform: rotate(90deg);
}
#TopPageBtn.show {
opacity: 1;
visibility: visible;
}
.PageContent{
min-height: 100vh;
}
.fixed-top { 
top: 47px; 
}
.Fixedtop{
top: 0px;  
}
.otHeading{
margin-top: 25%;
width: 500px;
} 
.otImg img{
position: absolute; 
} 
.otImg  {
position: relative; 
margin-top: 17%;
}
.MrTop88{
margin-top: 88px;
}
.otHeading span{
color: #FFFFFF;
font-family: "Nunito Sans", Sans-serif;
font-size: 24px;
font-weight: 500;
}
.otHeading h2{
color: #FFFFFF;
font-size: 60px;
font-weight: 900;
line-height: 80px;
} 
.otHeading2 h2{
font-size: 36px; 
line-height: 48px;
}
.elementorParaWhite{
color: #FFFFFF;
font-size: 18px;
font-family: "Nunito Sans", sans-serif;
margin: 0px;
font-size: 16px;
line-height: 1.875;
}
.elementorParaBlack{ 
margin: 20% 0px 0px 36px;
}
.elementorParaBlack p{
font-family: "Nunito Sans", sans-serif;
color: #6d6d6d;
font-size: 16px;
line-height: 1.875;
margin: 0px;
}
.ImgBoxMainDiv{
position: relative;
width: 260px;
height: 260px;
overflow: hidden;
display: flex;
justify-content: center;
align-items: center;
margin: 25px 0px;
}
.BoxImgBg{
width: 100%;
height: 100%;
object-fit: cover;
object-position: top;
position: absolute;
top:0px;
left: 0px;
}
.BoxH4{
position: relative;
z-index: 100;
font-size: 24px;
color: #FFFFFF;
}
.BoxH4:hover  {
cursor: pointer; 
}
.BoxOverlay{
position: absolute;
top:0px;
left: 0px;
background: rgba(16, 120, 165, 0.2);
opacity: 1;
z-index: 99; 
width: 100%;
height: 100%;
transition: opacity 0.3s;
}
.ImgBoxMainDiv:hover .BoxOverlay{
cursor: pointer;
opacity: 0;
transition: opacity 0.3s;
}
.ImgBoxMainDiv::after{
position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  top: -15px;
  right: -15px;
  z-index: 100;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background: #43baff;
}
.MrTop50{
margin-top: 50px;
}
.mainSpan{
font-size: 14px;
font-weight: 800;
color: #7141b1;
position: relative;
display: inline-block;
margin-bottom: 2px;
text-transform: uppercase;
}
.mainHeading{
margin-bottom: 0;
line-height: 48px;
font-size: 34px;
}
.GrayBg{
background-color: #F8F8F8;
}
.pt80{
padding-top: 80px;
}
.pt50{
padding-top: 50px;
}
.pb80{
padding-bottom: 80px;
}
.BtnPadding{
padding: 14px 30px 14px 30px;
}
.post-box .post-inner{
background: #fff;
margin-bottom: 0;
}
.post-box .entry-media {
position: relative;
}
.post-box .entry-media .post-cat {
position: absolute;
z-index: 1;
bottom: -16px;
left: 40px;
}
.post-box .post-cat a {
font-family: "Montserrat", sans-serif;
text-transform: uppercase;
font-size: 12px;
font-weight: 600;
letter-spacing: 1px;
line-height: 1;
display: inline-block;
color: #fff;
background-color: #43baff;
padding: 10px;
margin-right: 6px;
text-decoration: none; 
transition: background-color 0.3s;
}
.post-box  a img {
height: auto;
max-width: 100%;
border: none;
border-radius: 0;
box-shadow: none;
}
.pgrid .inner-post {
padding: 35px;
transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  padding: 40px 40px 36px;
  border: 1px solid #e7e7e7;
}
.post-box .entry-meta {
text-transform: capitalize;
font-family: "Montserrat", sans-serif;
font-weight: 600;
font-size: 14px;
color: #7141b1;
margin-bottom: 10px;
}
.post-box .entry-meta > span {
margin-right: 5px;
display: inline-block;
}
.post-box .entry-meta a {
color: #7141b1;
text-decoration: none; 
transition: color 0.3s;
}
.pgrid .inner-post .byline {
margin-right: 0;
}
.pgrid .inner-post .comment-num {
display: none;
}
.pgrid .inner-post h3 {
font-size: 24px;
line-height: 32px;
font-weight: bold;
margin-bottom: 20px;
}
.post-box .entry-title a {
color: #1b1d21;
display: inline-block; 
text-decoration: none;
transition: text-decoration 0.3s;
}
.post-box .btn-readmore {
margin-top: 0px;
line-height: 1;
overflow: hidden;
}
.post-box .btn-readmore > a {
font-size: 14px;
font-weight: bold;
color: #43baff; 
text-decoration: none;
} 
.post-box:hover {
box-shadow: 15px 15px 38px 0px rgba(0, 0, 0, 0.1);
-webkit-box-shadow: 15px 15px 38px 0px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 15px 15px 38px 0px rgba(0, 0, 0, 0.1);
}
.post-box .post-cat a:hover {
background-color: #7141b1;
transition: background-color 0.3s;
}
.post-box .entry-meta a:hover {
color: #43baff;
transition: color 0.3s;
}
.post-box .entry-title a:hover {
text-decoration: underline;
transition: text-decoration 0.3s;
}
.btn-readmore i{
transform: rotate(180deg);
  margin-right: 5px;
  position: relative;
  top: 4px;
  font-size: 18px;
}
.btn-readmore a:hover i{ 
  margin-right: 0px; 
}
.otImg2 { 
margin-top: 28%;
}
.iconBox{
padding: 20px 20px 20px 20px;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #E7E7E7;
  position: relative;
  overflow: hidden;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  margin: 10px 0px;
}
.iconMain { 
margin-bottom: 30px; 
}
.contentBox h5 {
margin-bottom: 14px;
font-weight: bold;
font-size: 20px;
}
.contentBox h5 a {
color: #1b1d21;
text-decoration: none;
}
.contentBox p {
line-height: 25px;
margin-bottom: 0;
color: #6d6d6d;
font-family: "Nunito Sans", sans-serif;
font-size: 16px;
}
.iconBox:after {
content: "";
position: absolute;
width: 0px;
height: 0px;
top: -15px;
right: -15px;
z-index: 1;
opacity: 0;
transition: all 0.3s linear;
-webkit-transition: all 0.3s linear;
-moz-transition: all 0.3s linear;
-o-transition: all 0.3s linear;
-ms-transition: all 0.3s linear;
-webkit-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
background: #43baff;
}
.iconBox:hover:after {
opacity: 1;
width: 30px;
height: 30px;
}
.iconBox:before {
content: "";
position: absolute;
width: 0;
height: 100%;
top: 0;
left: 0;
z-index: 0;
opacity: 0;
transition: all 0.3s linear;
-webkit-transition: all 0.3s linear;
-moz-transition: all 0.3s linear;
-o-transition: all 0.3s linear;
-ms-transition: all 0.3s linear;
}
.iconBox:before {
background-image: url("https://cyconex.com/wp-content/uploads/2020/01/bg-icon-box1.jpg");
background-repeat: no-repeat;
background-size: cover;
}
.iconBox:hover {
border-style: solid;
border-width: 1px 1px 1px 1px;
border-color: rgba(0, 0, 0, 0);
box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
}
.iconBox:hover:before {
width: 100%;
opacity: 1;
}
.iconBox:hover h5,
.iconBox:hover h5 a {
color: #FFFFFF;
}
.iconBox:hover p {
color: #FFFFFF;
}
.contentBox{
position: relative;
  z-index: 2;
}
.iconBlueMain{
display: none;
margin-bottom: 30px;
}

.iconBox:hover .iconBlueMain {
display: inline-block;
}
.iconBox:hover .iconMain {
display: none;
}
.otPricingTable {
position: relative;
overflow: hidden;
padding: 45px 48px 48px;
border: 1px solid #e7e7e7;
transition: all 0.3s linear;
-webkit-transition: all 0.3s linear;
-moz-transition: all 0.3s linear;
-o-transition: all 0.3s linear;
-ms-transition: all 0.3s linear;
}
.otPricingTable .icon-main {
position: absolute;
top: -80px;
right: -88px;
width: 188px;
height: 188px;
color: #fff;
background-color: #00deff;
background-image: -moz-linear-gradient(125deg, #00deff, #502a71);
background-image: -webkit-linear-gradient(125deg, #00deff, #502a71);
background-image: linear-gradient(125deg, #00deff, #502a71);
border-radius: 50%;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
}
.otPricingTable .icon-main i, .otPricingTable .icon-main span, .otPricingTable .icon-main img, .otPricingTable .icon-main svg {
position: absolute;
bottom: 45px;
left: 40px;
font-size: 35px;
line-height: 1;
}
.otPricingTable .inner-table .title-table {
font-size: 24px;
font-weight: 800;
}
.otPricingTable .inner-table h2 {
font-size: 48px;
font-weight: 800;
line-height: 1;
color: #43baff;
margin-bottom: 5px;
position: relative;
display: inline-block;
padding-left: 27px;
}
.otPricingTable .inner-table h2 sup {
position: absolute;
top: 15px;
left: 5px;
font-size: 50%;
font-weight: 600;
}
.otPricingTable .inner-table > span {
color: #ababab;
font-weight: 600;
margin-bottom: 30px;
display: block;
}
.otPricingTable .inner-table .details {
padding-top: 25px;
padding-bottom: 30px;
border-top: 1px solid #e5e5e5;
font-weight: 600;
color: #ababab;
}
.otPricingTable .inner-table .details ul {
list-style: none;
margin-bottom: 0;
padding: 0;
line-height: 42px;
}
.otPricingTable .inner-table .details ul li.active {
color: #1b1d21;
}
.otPricingTable .inner-table .details ul li:before {
content: "\2713";
font-family: "Flaticon";
font-size: 15px;
font-weight: 800;
margin-right: 20px;
}
.otPricingTable .inner-table .details ul li.active:before {
color: #43baff;
}
.octf-Btn {
transition: all 0.3s linear;
-webkit-transition: all 0.3s linear;
-moz-transition: all 0.3s linear;
-o-transition: all 0.3s linear;
-ms-transition: all 0.3s linear;
font-size: 14px;
padding: 14px 30px 14px 30px;
line-height: 1.42857143;
display: inline-block;
margin-bottom: 0;
text-decoration: none;
text-transform: uppercase;
white-space: nowrap;
vertical-align: middle;
font-weight: bold;
text-align: center;
background: #43baff;
cursor: pointer;
border: 1px solid transparent;
color: #fff;
outline: none;
}
.otPricingTable:hover {
background: #262051;
color: #fff;
}
.otPricingTable:hover h4, .otPricingTable:hover .details ul li.active {
color: #fff;
}
.otPricingTable .octf-Btn:hover {
background: #fff;
color: #7141b1;
text-decoration: none;
cursor: pointer;
}
.otPricingTable:hover .inner-table > span {
color: #8e88b8;
}
.otPricingTable:hover .details {
border-color: rgba(255, 255, 255, 0.15);
color: #8e88b8;
}


